{% include "header.html "%}


<div class="px-4 py-5 my-5 text-left">
    <div class="col-lg-6 mx-auto">
    <h1 class="display-5 fw-bold text-body-emphasis">Get to know me!</h1>

        <p class="lead mb-4">I'm a <em>Python Developer</em> with skills such as <em>Web Development</em>(Full Stack),
          <em>Web Scraping</em>(using libraries like Beautiful Soup, Request, and Selenium), <em>Data Science</em>(using libraries such as NumPy,
          Matplotlib, and Pandas). You can check out some of my projects in the Projects Section. Feel free to connect with me on
          <a href="https://www.linkedin.com/in/moh-richie-754697117/" target="_blank">Linkedin</a> and <a href="https://github.com/mohrichie" target="_blank">Github</a> where I post useful contents related to <em>Python Development</em>.
          I'm open to Job opportunities where I can contribute, learn and grow in my carrier as a Python Developer.
          If you have any job opportunity that matches my skills and experience, don't hesitate to connect with me.
      </p>
      <div class="justify-content-sm-center">
            <a href="{{url_for('contact')}}">
                <button type="button" class="btn btn-primary btn-lg  px-4 gap-3" fdprocessedid="dpovl">Contact Me</button>
            </a>
      </div>
    </div>
  </div>






{% include "footer.html "%}
