{% include "header.html" %}


<header class="masthead" style="background-image: url('../static/images/img2.jpg')">
    <div class="container px-4 py-5 my-5   text-center position-relative col-md-10 col-lg-8 col-xl-7">
        <h1 class="heading">Hi, I'm Moh Richmond</h1>
        <div class="col-lg-6 mx-auto">
          <h1 class="heading">I'm a Python Developer</h1>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{{url_for('contact')}}">
                    <button type="button" class="btn btn-primary btn-lg px-4 gap-3 " fdprocessedid="jiih">Get In Touch</button>
                </a>
          </div>
        </div>
    </div>
</header>

<div class="container text-center pt-5 pb-5">
    <h1 class="pt-5 pb-5">Experience</h1>
    <div class="bg-body-tertiary row g-4 py-5 row-cols-1 row-cols-lg-3">

          <div class="feature col" style="text-align:center">
              <h3 class="fs-2 text-body-emphasis">Skills</h3>
              <ul class="list-items " style="list-style-type:none" >
                  <li class="item">
                    <p>Web Development</p>
                  </li>
                  <li class="item">
                    <p>Web Scraping</p>
                  </li>
                  <li class="item">
                    <p>Data Science</p>
                  </li>
                  <li class="item">
                    <p>Git/Github</p>
                  </li>
              </ul>
          </div>
          <div class=" feature col" style="text-align:center">
              <h3 class="fs-2 text-body-emphasis">Frameworks</h3>
              <ul class="list-items " style="list-style-type:none" >
                  <li class="item">
                    <p>Flask</p>
                  </li>

              </ul>
          </div>
          <div class="feature col" style="text-align:center">
              <h3 class="fs-2 text-body-emphasis">Libraries</h3>
              <ul class="list-items " style="list-style-type:none" >
                  <li class="item">
                    <p>NumPy</p>
                  </li>
                  <li class="item">
                    <p>Matplotlib</p>
                  </li>
                  <li class="item">
                    <p>Pandas</p>
                  </li>

              </ul>
          </div>
    </div>
</div>


<div class="container text-center pt-5 pb-5">
    <h1 class="pt-5 pb-5">Projects</h1>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3 justify-content-sm-center">

        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
              <img src="static/images/python.jpg" width="270">
              <h2 class="display-5">First Project</h2>
              <p class="lead">Project coming soon.</p>
              <a href="{{url_for('home')}}">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3" fdprocessedid="jiih">
                  View Project
              </button>
              </a>
          </div>
        </div>
        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 py-3">
              <img src="static/images/python.jpg" width="270">
              <h2 class="display-5">Second Project</h2>
              <p class="lead">Project coming soon.</p>
              <a href="{{url_for('home')}}">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3" fdprocessedid="jiih">
                  View Project
              </button>
              </a>
          </div>
        </div>
    </div>
</div>


{% include "footer.html" %}